<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product Management</title>
  <link rel="stylesheet" href="home_style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Product Management System</h1>
    <div class="button-container">
      <button class="action-button" onclick="window.location.href='/add-product'">Add Product</button>
      <button class="action-button" onclick="window.location.href='/remove-product'">Remove Product</button>
      <button class="action-button" onclick="window.location.href='/modify-product'">Modify Product</button>
      <button class="action-button" onclick="window.location.href='/view-product'">View Product</button>
      <button class="action-button" onclick="window.location.href='/set-price'">Set Prices</button>
      <button class="action-button" onclick="window.location.href='/generate-report'">Generate Report</button>
    </div>
    <a href="/logout" class="logout-button">Logout</a>
  </div>
</body>
</html>
